body {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  background-color: teal;
  font-family: "Oxygen","Roboto", sans-serif;
  position: relative;
}

.bg {
    /* display: none; */
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.containerMain {
  /* background-color: var(--color--transparent); */
  width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  margin: 2rem;
  z-index: 10;
}

.timerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 2rem;
  /* background: var(--color--transparent);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.timerHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.timerHeader h1 {
  font-weight: 200;
  font-size: 1.6rem;
  color: var(--color--whites);
  letter-spacing: 0.5em;
}

.timerHeaderButtons {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
  padding: 0.5rem;
}

.timerHeaderButtons button {
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 200;
  font-size: 1rem;
  background-color: var(--color--transparent);
  color: var(--color--whites);
}

.timerHeaderButtons .active {
  background-color: var(--color--whites);
  color: var(--color--blacks);
}

.timerHeaderButtons button:hover {
    scale: 1.1;
    transition: 0.4s;
    cursor: pointer;
}

.timerBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.progressBar {
  height: 11rem;
  width: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(var(--color--transparent) 360deg, var(--color--transparent) 0deg);
  border-radius: 50%;
  animation: pulse 3s infinite;
  transition: all ease;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.progressBarInner {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color--transparent);
  border-radius: 50%;
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
}

.progressBarInner h2 {
  color: var(--color--whites);
  font-weight: 200;
  font-size: 2.5rem;
}

.timerFooter {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
  padding: 1rem;
}

.timerFooter button {
  padding: 0.6rem 0.8rem;
  border-radius: 1rem;
  background-color: var(--color--transparent);
  color: var(--color--whites);
  font-weight: 200;
  font-size: 1rem;
}

.timerFooter button:hover {
    scale: 1.1;
    transition: 0.4s;
    cursor: pointer;
}

.timerFooter button:active {
    background-color: var(--color--whites);
    color: var(--color--blacks);
}

#credits {
    background-color: var(--color--transparent);
    width: 100vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 97%;
    color: var(--color--whites);
}

#credits a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    color: var(--color--whites);
}

#credits a:hover {
    scale: 1.1;
    transition: 0.4s;
    cursor: pointer;
}

#credits button {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}

#credits button:hover {
  scale: 1.1;
  transition: 0.4s;
}

iframe {
  border-radius: 1rem;
}

form {
  display: relative;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

textarea {
  border-radius: 1rem;
  width: 33.5vw; /* (40rem) */
  height: 80vh;
  background-color: var(--color--transparent);
  resize: none;
  color: var(--color--whites);
}

textarea::placeholder {
  padding: 1rem;
  color: var(--color--whites);
}


form input {
  background-color: var(--color--transparent);
  border-radius: 0.3rem;
  font-family: "Oxygen";
  color: var(--color--whites);
  padding: 0.5rem;
}

.formInput {
  margin-left: 0.5rem;
}

form input:hover {
  scale: 1.1;
  transition: 0.4s;
  background-color: var(--color--whites);
  color: var(--color--blacks);
}

#spotify {
  border-radius: 1rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 80vh;
  width: 33.5vw;
}

#youtube {
  height: 29vh;
  width: 25.9vw;
}