body {
width: 100vw;
height: 100vh;
overflow: hidden;
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  background-repeat: no-repeat;
  top: 0;
}

main {
width: 100vw;
height: 100vh;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: baseline;
align-items: center;
background: linear-gradient(rgba(0, 0, 0, 0.1), var(--color-background));
position: absolute;

}

.pomodoro {
  width: 22vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--color--transparent);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* border: 2px solid var(--color--transparent2); */
  margin-top: 2rem;
  z-index: 4;
}


.pomodoroHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.pomodoroHeader h1 {
  font-weight: 200;
  font-size: 1.6rem;
  color: var(--color--whites);
  letter-spacing: 1rem;
}

.pomodoroHeaderButtons {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
}

.pomodoroHeaderButtons button {
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 200;
  font-size: 1rem;
  background-color: var(--color--transparent);
  color: var(--color--whites);
  /* border: 2px solid var(--color--transparent2); */
}

.pomodoroHeaderButtons .active {
  background-color: var(--color--whites);
  color: var(--color--blacks);
}

.pomodoroHeaderButtons button:hover {
  scale: 1.1;
  transition: 0.4s;
  cursor: pointer;
}

.pomodoroBody {
  margin: 1rem;
  padding: 1rem;
}

.pomodoroProgressBar {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--transparent);
  border-radius: 50%;
  animation: pulse 5s infinite;
  transition: all ease;
  /* border: 2px solid var(--color--transparent2); */
}

.pomodoroProgressBarInner {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color--transparent);
  border-radius: 50%;
}

#timerValue {
  color: var(--color--whites);
  font-weight: 200;
  font-size: 2.5rem;
}

.pomodoroFooterButtons {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
}

.pomodoroFooterButtons button {
  padding: 0.6rem 0.8rem;
  border-radius: 2rem;
  background-color: var(--color--transparent);
  color: var(--color--whites);
  /* border: 2px solid var(--color--transparent2); */
}

.pomodoroFooterButtons button:hover {
  scale: 1.1;
  transition: 0.4s;
  cursor: pointer;
}

.pomodoroFooterButtons button:active {
  background-color: var(--color--whites);
  color: var(--color--blacks);
}


.notes {
  position: absolute;
  top: 0rem;
  left: 2rem;
  margin-top: 2rem;
  z-index: 3;
}

.notes textarea {
  border-radius: 1rem;
  width: 33.1vw;
  height: 81.1vh;
  background-color: var(--color--transparent);
  resize: none;
  color: var(--color--whites);
  padding: 1rem;
  overflow: scroll;
  /* border: 2px solid var(--color--transparent2); */
}
textarea::-webkit-scrollbar {
display: none;
}

.notes textarea::placeholder {
  color: var(--color--whites);
  font-size: 2rem;
  font-weight: 200;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-align: center;
  font-family: "Oxygen", "Roboto", sans-serif;
}

.notes input {
  background-color: var(--color--transparent);
  border-radius: 0.3rem;
  font-family: "Oxygen";
  color: var(--color--whites);
  padding: 0.5rem;
  margin-top: 0.2rem;
  /* border: 2px solid var(--color--transparent2); */
}

#btnClear, #btnCopyClear {
  margin-left: 0.5rem;
}

.notes input:hover {
  scale: 1.1;
  transition: 0.4s;
}

.notes input:active {
  background-color: var(--color--whites);
  color: var(--color--blacks);
}


#tasks {
  border-radius: 1rem;
  position: absolute;
  top: 0rem;
  right: 2rem;
  height: 85vh;
  width: 35vw;
  color: var(--color--whites);
  background-color: var(--color--transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  /* border: 2px solid var(--color--transparent2); */
  margin-top: 2rem;
  z-index: 3;
}

#tasks h1 {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 0.5em;
}

#tasks button {
  background-color: var(--color--transparent);
  color: var(--color--whites);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  font-weight: 200;
  /* border: 2px solid var(--color--transparent2); */
}

#tasks button:hover {
  scale: 1.1;
  transition: 0.4s;
}

#tasks form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tasks input {
  background-color: var(--color--transparent);
  width: 29.1vw;
  height: 3vh;
  border-radius: 0.5rem;
  /* border: 2px solid var(--color--transparent2); */
}

#tasks li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: baseline;
  background-color: var(--color--transparent);
  margin: 0.5rem;
  width: 29.1vw;
  height: 1rem;
  border-radius: 0.3rem;
  font-weight: 200;
  color: var(--color--whites);
  /* border: 2px solid var(--color--transparent2); */
}

#spotify { display: none;
  border-radius: 1rem;
  position: absolute;
  top: 89vh;
  right: 2rem;
  height: 10vh;
  width: 35vw;
}

#youtube {
  height: 34.5vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--color--transparent);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* border: 2px solid var(--color--transparent2); */
  margin-top: 2rem;
}

#credits {
  background-color: var(--color--transparent);
  width: 100vw;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 96vh;
  color: var(--color--whites);
  /* border-top: 2px solid var(--color--transparent2); */
  z-index: 3;
}

#credits a {
  color: var(--color--whites);
  font-weight: 600;
}

#credits a:hover {
    cursor: pointer;
    background-color: var(--color--whites);
    color: var(--color--blacks);
    border-radius: 0.5rem;
}

#credits button {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}

#credits button:hover {
  scale: 1.1;
  transition: 0.4s;
}