body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  background-color: teal;
  font-family: "Oxygen","Roboto", sans-serif;
}

.bg {
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -10;
  /* display: none; */
}

.mainContainer {
  width: 30rem;
  height: 30rem;
  z-index: 10;
  margin: 2rem;
  /* background-color: var(--color--transparent); */
}

.timerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 1rem;
  /* background: var(--color--transparent);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.timerHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.timerHeader h1 {
  font-weight: 200;
  font-size: 1.6rem;
  color: var(--color--whites);
  letter-spacing: 1rem;
}

.timerHeaderButtons {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
}

.timerHeaderButtons button {
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 200;
  font-size: 1rem;
  background-color: var(--color--transparent);
  color: var(--color--whites);
}

.timerHeaderButtons .active {
  background-color: var(--color--whites);
  color: var(--color--blacks);
}

.timerHeaderButtons button:hover {
    scale: 1.1;
    transition: 0.4s;
    cursor: pointer;
}

.timerBody {
 margin: 1rem;
 padding: 1rem;
}

.progressBar {
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--transparent);
  border-radius: 50%;
  animation: pulse 5s infinite;
  transition: all ease;
}

.progressBarInner {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color--transparent);
  border-radius: 50%;
}

#timerValue {
  color: var(--color--whites);
  font-weight: 200;
  font-size: 2.5rem;
}

.timerFooterButtons {
  display: flex;
  justify-content: stretch;
  gap: 1rem;
}

.timerFooterButtons button {
  padding: 0.6rem 0.8rem;
  border-radius: 2rem;
  background-color: var(--color--transparent);
  color: var(--color--whites);
}

.timerFooterButtons button:hover {
    scale: 1.1;
    transition: 0.4s;
    cursor: pointer;
}

.timerFooterButtons button:active {
    background-color: var(--color--whites);
    color: var(--color--blacks);
}

#credits {
    background-color: var(--color--transparent);
    width: 100vw;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 97vh;
    color: var(--color--whites);
}

#credits a {
    color: var(--color--whites);
    font-weight: 600;
}

#credits a:hover {
    cursor: pointer;
    background-color: var(--color--whites);
    color: var(--color--blacks);
    border-radius: 0.5rem;
}

#credits button {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}

#credits button:hover {
  scale: 1.1;
  transition: 0.4s;
}

#notesForm {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#notesForm textarea {
  border-radius: 1rem;
  width: 33.1vw;
  height: 81.1vh;
  background-color: var(--color--transparent);
  resize: none;
  color: var(--color--whites);
  padding: 1rem;
  overflow: hidden;
}

#notesForm textarea::placeholder {
  color: var(--color--whites);
}

#notesForm input {
  background-color: var(--color--transparent);
  border-radius: 0.3rem;
  font-family: "Oxygen";
  color: var(--color--whites);
  padding: 0.5rem;
  margin-top: 0.2rem;
}

#btnClear, #btnCopyClear {
  margin-left: 0.5rem;
}

#notesForm input:hover {
  scale: 1.1;
  transition: 0.4s;
}

#notesForm input:active {
  background-color: var(--color--whites);
  color: var(--color--blacks);
}

#spotify { display: none;
  border-radius: 1rem;
  position: absolute;
  top: 89vh;
  right: 2rem;
  height: 10vh;
  width: 35vw;
}

#youtube {
  height: 29vh;
  width: 25.9vw;
  border-radius: 1rem;
  display: none;
}

#tasksSection {
  border-radius: 1rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 85vh;
  width: 35vw;
  color: var(--color--whites);
  background-color: var(--color--transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

#tasksSection h1 {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 0.5em;
}

#tasksSection button {
  background-color: var(--color--transparent);
  color: var(--color--whites);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  font-weight: 200;
}

#tasksSection button:hover {
  scale: 1.1;
  transition: 0.4s;
}

#tasksSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tasksSection input {
  background-color: var(--color--transparent);
  width: 35rem;
  height: 3vh;
}

#tasksSection li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: baseline;
  background-color: var(--color--transparent);
  margin: 0.5rem;
  width: 35rem;
  height: 1rem;
  border-radius: 0.3rem;
  font-weight: 200;
  color: var(--color--whites);
}
