
@media (max-width: 1439px) {
    .pomodoro {
        background: none;
        box-shadow: none;
        width: 90%;
    }

    #youtube {
        display: none;
    }

    #tasks {
        width: 28%;
        height: 82%;
    }

    #tasks li {
        width: 25vw;
    }

    .notes {
        width: 40%;
    }

    .notes textarea{
        width: 70%;
        height: 82vh;
    }
    
    #notesButtons input {
        width: 17%;
        font-size: 13px;
    }
    #btnMute {
        display: initial;
    }
}


@media (max-width: 1000px) {
    .pomodoro {
        background: none;
        box-shadow: none;
        width: 90%;
    }

    .pomodoroHeaderButtons button {
        padding: 0.2rem;
    }

     /* #tasks {
        position: unset;
        width: 80%;
        height: auto;
        margin: 2rem auto; 
    }

    #tasks input {
        width: 80vw;
    } */
    #tasks { 
        display: none;
    }

    .notes {
        position: unset;
       width: 100vw;
       height: 45vh;
       overflow: hidden;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
    }

    .notes textarea {
       height: 30vh;
       width: 80vw;
    }

   #notesButtons input {
    width: 24.5%;
    font-size: 13px;
    height: 2rem;
    margin: 0;
   }

    #youtube {
        display: none;
    }

    #btnMute {
        display: initial;
    }

    #tasks li {
        width: 80vw;
    }
}

@media (max-width: 706px ) {
    #notesButtons input {
        width: 24%;
       }
}