@media (max-width: 700px ) {

    main {
        width: 100%;
        height: 100%;
    }

    .notes {
        height: 35%;
        width: 80%;
        position: fixed;
        top: 48%;
    }
    
    .notes input {
        width: 4rem;
        height: 4rem;

    }
    .tasks {
        display: none;
    }

    .pomodoro {
        width: 100%;
        justify-content: baseline;
    }
    
    .timer {
        background: none;
        gap: 0;
    }

    .youtube {
      display: none;
    }

    #btnMute {
        display: unset;
    }
}


/* 
@media (max-width: 1439px) {
    .pomodoro {
        background: none;
        box-shadow: none;
        width: 90%;
    }


    #tasks {
        width: 32%;
        height: 82%;
    }

    #tasks li {
        width: 25vw;
    }

    .notes {
        width: 46%;
    }

    .notes textarea{
        width: 70%;
        height: 82vh;
    }
    
    #notesButtons input {
        width: 17%;
        font-size: 13px;
    }
 
}

@media (max-width: 1250px) {
    #btnMute {
        display: initial;
    }
    #youtube {
        display: none;
    }

    .notes {
        top: 50%;;
    }

    .notes textarea {
        height: 37vh;
        width: 38vw;
    }
    #tasks {
        top: 50%;
        height: 37vh;
        width: 40vw;

    }

    #notesButtons input {
        width: 24%;
        font-size: 13px;
        margin: 0;
        height: 2rem;
    }
}

@media (max-width: 800px) {

    .pomodoro {
        background: none;
        box-shadow: none;
        width: 90%;
    }

    .pomodoroHeaderButtons button {
        padding: 0.2rem;
    }


    #tasks { 
        display: none;
    }

    .notes {
       position: unset;
       width: 100vw;
       height: 45vh;
       overflow: hidden;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
    }

    .notes textarea {
       height: 30vh;
       width: 80vw;
    }

   #notesButtons input {
    width: 24.5%;
    font-size: 13px;
    height: 2rem;
    margin: 0;
   }

    #youtube {
        display: none;
    }

    #btnMute {
        display: initial;
    }

    #tasks li {
        width: 80vw;
    }
}

@media (max-width: 706px ) {
    #notesButtons input {
        width: 24%;
       }
} */