*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: none;
  text-decoration: none;
}

:root {
    --color--whites: #fefefe;
    --color--transparent: #ffffff2d;
    --color--blacks: #151515;
}
