*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: none;
  text-decoration: none;
  list-style: none;
  font-family: "Oxygen", "Roboto", sans-serif;
}

:root {
    --color--whites: #fefefe;
    --color--transparent2: #ffffff2d;
    --color--blacks: #151515;
    --color-background: #030207b7;
    --color--transparent: #25252559;
}
