:root {
  --color--whites: #fefefe;
  --color--blacks: #151515;
  --color--background: #030207b7;
  --color--transparent: #35353533;
  --color--transparent2: #ffffff2d;
}

* {
  color: var(--color--whites);
  font-family: "Oxygen", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
  font-family: "Oxygen", "Roboto", sans-serif;
}

body {
overflow: hidden;
}

#background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  top: 0;
  background-repeat: no-repeat;
  object-fit: cover;
}

main {
width: 100vw;
height: 100vh;
position: absolute;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: baseline;
align-items: center;
background: linear-gradient(rgba(0, 0, 0, 0.1), var(--color--background));
}

.pomodoro {
  width: 22vw;
  height: 40vh;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  background: var(--color--transparent);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* border: 2px solid var(--color--transparent2); */
}


.pomodoroHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pomodoroHeader h1 {
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-family: "Oxygen";
}

.pomodoroHeaderButtons {
  display: flex;
  gap: 1rem;
}

.pomodoroHeaderButtons button {
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 100;
  background-color: var(--color--transparent);
  /* border: 2px solid var(--color--transparent2); */
}

.pomodoroHeaderButtons button:hover {
  scale: 1.1;
  transition: 0.4s;
  cursor: pointer;
}

.pomodoroHeaderButtons .active {
  background-color: var(--color--whites);
  color: var(--color--blacks);
}

.pomodoroBody {
  padding: 1rem;
}

.pomodoroProgressBar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--transparent);
  animation: pulse 5s infinite;
  transition: all ease;
  /* border: 2px solid var(--color--transparent2); */
}

.pomodoroProgressBarInner {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color--transparent);
}

#timerValue {
  font-weight: 100;
  font-size: 2.5rem;
}

.pomodoroFooterButtons {
  display: flex;
  gap: 1rem;
}

.pomodoroFooterButtons button {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.8rem;
  border-radius: 2rem;
  background-color: var(--color--transparent);
  /* border: 2px solid var(--color--transparent2); */
}

.pomodoroFooterButtons button:hover {
  scale: 1.1;
  transition: 0.4s;
  cursor: pointer;
}

.pomodoroFooterButtons button:active {
  background-color: var(--color--transparent2);
}

.notes {
  position: absolute;
  z-index: 2;
  top: 2rem;
  left: 2rem;
}

.notes textarea {
  width: 33vw;
  height: 85vh;
  border-radius: 1rem;
  background-color: var(--color--transparent);
  resize: none;
  padding: 1rem;
  overflow: scroll;
  /* border: 2px solid var(--color--transparent2); */
}

textarea::-webkit-scrollbar {
display: none;
}

.notes textarea::placeholder {
  color: var(--color--whites);
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-align: center;
}

.notes input {
  background-color: var(--color--transparent);
  border-radius: 0.3rem;
  font-family: "Oxygen";
  color: var(--color--whites);
  padding: 0.5rem;
  margin-top: 0.2rem;
  cursor: pointer;
  /* border: 2px solid var(--color--transparent2); */
}

#btnClear, #btnCopyClear {
  margin-left: 0.5rem;
}

.notes input:hover {
  scale: 1.1;
  transition: 0.4s;
}

.notes input:active {
  background-color: var(--color--transparent2);
}

#tasks {
  height: 85vh;
  width: 33vw;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  z-index: 2;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  background-color: var(--color--transparent);
  /* border: 2px solid var(--color--transparent2); */
  overflow: scroll;
}

#tasks::-webkit-scrollbar {
  display: none;
  }

#tasks h1 {
  font-weight: 100;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  letter-spacing: 0.5em;
}

#tasks #createTask {
  background-color: var(--color--transparent);
  color: var(--color--whites);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  font-weight: 200;
  /* border: 2px solid var(--color--transparent2); */
}

#tasks button:hover {
  scale: 1.1;
  transition: 0.4s;
  cursor: pointer;
}

#tasks form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tasks input {
  background-color: var(--color--transparent);
  width: 29.1vw;
  height: 3vh;
  border-radius: 0.5rem;
  /* border: 2px solid var(--color--transparent2); */
}

#tasks li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: baseline;
  background-color: var(--color--transparent);
  margin: 0.5rem;
  width: 30vw;
  height: 50%;
  border-radius: 0.3rem;
  font-weight: 100;
  /* border: 2px solid var(--color--transparent2); */
  word-break: break-all;
}

#youtube {
  height: 39vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--color--transparent);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* border: 2px solid var(--color--transparent2); */
  margin-top: 2rem;
  z-index: 2;
}


.taskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* .taskContainer:not(:last-child) {
  border: 1px solid red;
} */

.taskContainer button {
  border: none;
  background: none;
  cursor: pointer;
}

.taskText {
  padding: 0.2rem;
  margin: 0rem;
}

#credits {
  background-color: var(--color--transparent);
  width: 100vw;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 97vh;
  /* border-top: 2px solid var(--color--transparent2); */
  z-index: 3;
}

#credits a {
  font-weight: 900;
}

#credits a:hover {
    cursor: pointer;
    background-color: var(--color--whites);
    color: var(--color--blacks);
    border-radius: 0.2rem;
}

#credits button {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}

#credits button:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.4s;
}

#btnMute {
  display: none;
}